@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Outfit:wght@300;400;600&display=swap');

:root {
  --color-primary-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-main-bg: hsl(217, 54%, 11%);
  --color-card-bg: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: var(--color-card-bg);
  width: 320px;
  height: 540px;
  margin: 16px auto;
  border-radius: 16px;
  box-shadow: -15px 15px 15px #0C1729, -15px 15px 15px #0C192C;
  padding-top: 10px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

img {
  width: 280px;
  height: 280px;
  margin: 12px auto;
  border-radius: 8px;
}

h1 {
  color: var(--color-white);
  font-size: 18px;
  margin-top: 8px;
}

p {
  color: var(--color-primary-blue);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4rem;
  margin: 12px auto; 
}

.details-container {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 6px;
}

.details-price {
  color: var(--color-primary-cyan);
  display: inline-block;
  margin-right: 5rem;
}

.details-days {
  color: var(--color-primary-blue);
  font-weight: 400;
}

.details-container img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.details-container img:first-child {
  height: 16px;
  width: 10px;
}

.divider {
  color: var(--color-line);
  width: 100%;
  border: 1px solid;
  margin: 4px auto;
}

.creator {
  display: flex;
  color: var(--color-primary-blue);
  font-weight: 300;
}

.creator p {
  font-size: 15px;
}

.creator img {
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin-right: 14px; 
}

.creator span {
  color: var(--color-white);
  margin-left: 4px;
  font-size: 15px;
}

.attribution {
  align-items: center;
  justify-content: flex-end;
}